[Oo]bj
[Bb]in
*.suo
*.tss
/packages/
*.user
TestResults/
*.dat
.vs/
nuget/build/payload
node_modules/
/public/
.DS_Store

# Temp files from git merges:
*.orig

TestResult.xml
LinuxInstall/package

#ignore Rider files
*.idea/ 
