// colors
$accentColor = #e61e33
$textColor = #333433
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #e61e33
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961